
.name_title span{
    position: relative;
}

.name_title span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
     animation: typing 3s linear ;
     animation-fill-mode:forwards;
     /* border-left: 2px solid #E5907E; */
    /* animation: typing 1.5s steps(7) ; */
}


/*
.name_title span::before{
    content: "Gonzalo";
    border-right: 2px solid #E5907E;
    position: absolute;
    color:#E5907E;
    width: 0;
    height: 100%;
    overflow: hidden;
    animation: animate 2s linear ;
}
*/

@keyframes typing{
    0%{
        content: "G";
        color: #000;
    }
    10%{
        content: "Go";
        color: #000;
    }
    20%{
        content: "Gon";
        color: #000;
    }
    30%{
        content: "Gonz";
        color: #000;
    }
    40%{
        content: "Gonza";
        color: #000;
    }
    50%{
        content: "Gonzal";
        color: #000;
    }
    60%{
        content: "Gonzalo";
        color: #000;
    }
    100%{
        color: #E5907E;
    }

}

@keyframes animate{
    0%{
        width: 0%;
    }
    70%{
        width: 100%;
    }
}






@keyframes blockAnim {
    0% {
        background: none;
    }

    15% {
        border: none;
        background: url("./images//redbox_small.svg") no-repeat;
    }

    30% {
        border: 1px solid #E5907E;
        background: none;
    }

    45% {
        background: none;
    }

    50% {
        border: 1px solid #E5907E;
        background: none;
    }

    53% {
        border: none;
        background: url("./images//redbox_small.svg") no-repeat;
    }

    56% {
        border: 1px solid #E5907E;
        background: none;
    }

    60% {
        border: none;
        background: url("./images//redbox_small.svg") no-repeat;
    }

    75% {
        border: 1px solid #E5907E;
        background: none;
    }

    80% {
        border: none;
        background: url("./images//redbox_small.svg") no-repeat;
    }

    100% {
        border: 1px solid #E5907E;
        background: none;
    }
}
/*Blocks animation*/

.redblock2 {
}



.redblock2:hover {
}

.redblock2:hover .redblock1:before,
.redblock2:hover .redblock1:after {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.redblock2:hover:before {
            top: 49.5%;
            left: 49.5%;
            color: rgba(227, 28, 94,0.8);
            animation: distort1 300ms linear infinite;
}

.redblock2:hover:after {
            top: 50.5%;
            left: 50.5%;
            color: rgba(3, 169, 244,0.8);
            animation: distort2 300ms linear infinite;
}


    @keyframes distort1 {
        0% {
            top: 49.5%;
            left: 49.5%;
        }

        12.5% {
            top: 49.5%;
            left: 50%;
        }

        25% {
            top: 49.5%;
            left: 50.5%;
        }

        37.5% {
            top: 50%;
            left: 50.5%;
        }

        50% {
            top: 50.5%;
            left: 50.5%;
        }

        62.5% {
            top: 50.5%;
            left: 50%;
        }

        75% {
            top: 50.5%;
            left: 49.5%;
        }

        87.5% {
            top: 50%;
            left: 49.5%;
        }

        100% {
            top: 49.5%;
            left: 49.5%;
        }
    }

    @keyframes distort2 {
        0% {
            top: 50.5%;
            left: 50.5%;
        }

        12.5% {
            top: 50%;
            left: 50.5%;
        }

        25% {
            top: 49.5%;
            left: 50.5%;
        }

        37.5% {
            top: 49.5%;
            left: 50%;
        }

        50% {
            top: 49.5%;
            left: 49.5%;
        }

        62.5% {
            top: 50%;
            left: 49.5%;
        }

        75% {
            top: 50.5%;
            left: 49.5%;
        }

        87.5% {
            top: 50.5%;
            left: 50%;
        }

        100% {
            top: 50.5%;
            left: 50.5%;
        }
    }