@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{

  /*colors*/
  --background-dark: #1E2324;
  --background-light: #E8EAEC;
  --page1-red:#E5907E;
  --page2-yellow: #;
  --page2-light_yellow: rgb(221, 215, 185);
  --page2-yellow: #E7CA3C;
  --page3-darker-green: rgb(144, 168, 138);
  --page3-green: #BAD8B4;
  --page3-darkest-green: #86a581;

  --transition: all 0.3s linear;
  --ff-primary: 'Roboto', sans-serif;
}


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}



body {
  margin: 0;
  font-family : var(--ff-primary);
  min-width:350px; /*para lupa de aumento manual*/
  overflow-x: hidden; /*para evitar expandir la pagina en ancho, al tener
  elementos escondidos en el overflow*/
}

  .block:hover,
  .block:active {
    transition: all 0.4s linear;
    transition-delay: 0.5s;
    border: 1px solid #fff;
    background: transparent;
  }



  /* -------------- TEXT AND CONTAINERS (Pass to another file) ----------*/



.title{
  /* font-size: 5rem; */
  font-size: min(12vw,5rem);
  color: var(--page1-red);
  padding: 1.2rem 0 ;
  font-weight: 500;
}
.screen{ /*cada seccion va a ocupar toda la pagina, hasta llegar a 600px, para evitar deformaciones.*/
  width: 100vw;
  height: max(100vh, 600px);
  position: relative;
}



.page1,
.page3,
.page5{
  background-color: var(--background-dark);
}
.page2 ,
.page4{
  background-color : var(--background-light);
}


@keyframes blockError {

  0%{
  }
  50%{
    background: transparent;
    border: 1px solid #fff;
  }
  100%{
    background: transparent;
    border: 1px solid #fff;
  }

}

/* -------------------------------------------- page1 --------------------------------------------*/
.page1{
  background-image: url("./images/page1_background.svg"),
  linear-gradient(
    to right,
    black 0%,
    black 60%,
    #1E2324 60%,
    #1E2324 100%)
  ;
  display: grid;
  background-size: cover;
  background-position: center bottom;
}
.blocks-container{
  position: relative;
  align-self: flex-end;
}

  
 .redblock1{
  /*Bloques absolute para evitar que corran los elementos reales.
  Y para poder ubicarlos, se usa un container padre relative*/
  position: absolute;
  background: linear-gradient(270deg, rgba(150, 116, 109, 1) 0%, rgba(187, 125, 127, 1) 44%);
  background-color: rgba(187, 125, 127, 1);
  width: 174px;
  height: 600px;
  left: 89vw;
  bottom: 0;
}
 .redblock2{
  position: absolute;
  background-color: #AA7D7D;
  width: 174px;
  height: min(182px,25vw);
  bottom: 0;
  left: min(8vw,200px);
  /* animation: blockAnim 4s; */
}



/* .redblock1:hover, .redblock2:hover {
  
  transition: all 0.5s linear;
  border: 1px solid #E5907E;
  background: none;
} */




.salute{
  color: var(--background-light);
  margin-top: 150px;
  margin-left: min(200px, 8vw);
}
.salute h1{
  padding: 0 0 20px 0;
}

.salute p {
  font-size: 1.1rem;
  max-width: min(400px,80vw);
  font-weight: 100;
}





.link_to_projects{
  position: relative;
  bottom: 20px;
  /* left: max(30vw,100px); */
  left: calc(92vw - min(230px, 38vw) - 174px - 8vw);
    /* right: min(8vw, 200px); */
  border-top: 1px solid var(--page1-red);
  border-right: 1px solid var(--page1-red);
  height: 35px;
  width: min(230px,38vw);
  z-index: 2;
}
.border-left{
  border-left: 1px solid var(--page1-red);
  position: absolute;
  top: 0;
  bottom: 60%;
}
.border-bottom{
  border-bottom: 1px solid var(--page1-red);
  position: absolute;
  right: 0;
  left: 95%;
  bottom: 0;
}
.link_to_projects h3{
  font-size: min(1.2rem,3.3vw);
  color: var(--page1-red);
  font-weight: 400;
  position: relative;
  left: -10px; /*para dar efecto de borde desfazado*/
  bottom: -20px;
  text-transform: capitalize;
}
.link_to_projects:hover, .link_to_projects:active{
  transform: scale(110%);
  transition: all 0.2s linear;
}




@media screen and (min-width: 800px) {
  .redblock1 {
    right: min(8vw, 200px);
    left: auto;
  }

  .title {
    font-size: min(10vw, 6rem);
  }

  .salute p {
    font-size: 1.4rem;
    max-width: min(500px, 80vw);
    letter-spacing: 2px;
  }


  .link_to_projects {
    transform: scale(120%);
  }
  .link_to_projects:hover,
  .link_to_projects:active {
    transform: scale(130%);
  }

}
@media screen and (max-width: 500px) {

  .link_to_projects{
      left: calc(8vw + 15px);

  }
}
/* -------------------------------------------- page2 --------------------------------------------*/
/*Animacion: https://freefrontend.com/css-text-animations/ */
.page2{
  display: grid;
  justify-content: center;
  background-image: url("./images/page2_background.svg")
  ,
  linear-gradient(
    to right,
    #E8EAEC 0%,
    #E8EAEC 60%,
    black 60%,
    black 100%)
  ;
  background-size: cover;
  background-position: center center;
}

.yellow_block1 {
  position:absolute;
  align-self: flex-end;
  width: 100vw;
  min-width: 100%;
  height: 230px;
  background: linear-gradient(180deg, rgba(221, 215, 185, 1) 40%, rgba(204, 196, 155, 1) 100%);
  background-color: var(--page2-light_yellow);
}



.page2 h1{
  font-size: min(10vw,5rem);
  justify-self: center;
  margin-left: 10vw;
  color: black;
  padding-bottom: 60px;
}
.page2 span{
  color: var(--page2-yellow);
}


.info-container{
  z-index: 1;
  display: flex;
  flex-direction: column;
  position: relative; /*relative para poder ubicar los elementos absolute*/

}


.img-container{
  align-self: center;
  border: 1px solid var(--page2-yellow);
  height: min(250px, 55vw);
  /*evitar movimientos elementos*/
  position: relative;
  bottom: 15vh;
}
.img-container img {
  width: min(200px, 40vw);
  height: auto;
  z-index: 10;
  position: relative;
  left: -30px;
  /*para dar efecto de borde desfazado*/
  bottom: -30px;
}




.text-slider {
  order: 2;
}
.about-text{
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: min(1.2rem,4.6vw);
  text-align: center;
  line-height: 1.5;
  width: 90vw;
  height: 200px; /*definir el height evita que otros elementos se muevan al variar el texto*/
  align-self: flex-end;
  justify-self: center;
  position: absolute;
  bottom: -2vw;
  left: 0;
  right: 0;
  margin: auto;
  
}
/* btn container*/

.btn-container{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-around;
  z-index: 12;
  bottom: calc(15vh + 150px);
}
.btn-container button{
  margin: 0 min(250px,28vw);
  color:var(--page2-yellow);
  font-size: 4rem;
  position: relative;
}
.btn-container button:hover{
  color: var(--background-dark);
  transition: var(--transition);
}


/* page 2 @Media and animations */

@media screen and (min-width: 830px) {


  .page2{
    justify-content:inherit;
    align-content: flex-start;
  }

  .info-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 min(200px, 8vw);
    top: 3vw;
  }

  
  .img-container{
    position: static;
    align-self: flex-start;
    order: 2;
    border: 1px solid var(--page2-yellow);
    height: min(300px, 30vw);
  }
  
  .img-container img {
    width: min(300px,25vw);
    height: auto;
  }

  .text-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    align-self: flex-end;
    order: 1;
  }
  .about-text {
    position: static;
    /* left: min(15px, 2.5vw); */
    /*limitar tamaño en base a flechas*/
    width: 45vw;
    height: auto;
    font-weight: 300;
    font-size: min(1.4rem, 4.6vw);
    text-align: center;
    line-height: 1.8;
    letter-spacing: 2px;

  }
  .btn-container{
    max-width:  15vw;
    justify-content: space-between;
    position: relative;
    bottom: inherit;
    order: 2;
  }
  .btn-container button {
    margin: inherit;
  }
  




  .page2 h1 {
    margin-left: 10vw;
  }

  .yellow_block1 {
    width: 180px;
    margin-bottom: 50px;
  }

  

}



.about-animated {
  animation: about-animation 1s;
}

.about-animated2 {
  animation: about-animation2 1s;
}

@keyframes about-animation {
  0% {
    transform: translateY(10px);
    opacity: 100%;
  }

  25% {
    transform: translateY(-200px);
    opacity: 0%;
  }

  50% {
    transform: translateY(200px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}

@keyframes about-animation2 {
  0% {
    transform: translateY(10px);
    opacity: 100%;
  }

  25% {
    transform: translateY(-200px);
    opacity: 0%;
  }

  50% {
    transform: translateY(200px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}
/* -------------------------------------------- page3 --------------------------------------------*/

  .page3{
    display: inline-grid;

    background: 
    linear-gradient(
      to right,
      black 0%,
      black 60%,
      #1E2324 60%,
      #1E2324 100%);
    
  }


  .green-block{
    align-self: flex-start;
    position:absolute;
    background: linear-gradient(180deg, rgba(144, 168, 138, 1) 40%, rgba(118, 136, 113, 1) 100%);
    background-color: var(--page3-darker-green);
    width: 250px;
    height: 180px;
  }
  .green-line{
    align-self: flex-end;
    justify-self: flex-end;
    width: 45vw;
    height:140px;
    background: linear-gradient(180deg, rgba(144, 168, 138, 1) 40%, rgba(118, 136, 113, 1) 100%);
    background-color: var(--page3-darker-green); 
    position: absolute;
  }


  .page3 h1 {
    color: var(--page3-green);
    align-self: flex-start;
    justify-self: flex-start;
    z-index: 1;
    margin-left: min(8vw, 200px);
  }



  
  .projectsContainer{
    position: relative;
    align-self: center;
    justify-self: flex-end;
    margin-left: min(8vw, 200px);
    margin-right: calc(8vw + 174px);
    width: min(800px,80vw);
    height: 250px;
    overflow-x: hidden;
    cursor: grab;

  }

  .projects{
    position: absolute;
    top: 0;
    left: 0;
    justify-self: center;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 15px;

  }
  .project{
    font-size: 0.8em;
    text-transform: capitalize;
    background-color: var(--page3-darker-green);
    color: black;
    /* border:1px solid var(--page3-green); */
    cursor: pointer;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 240px;
    height: 200px;
  }
  .project h3{
    font-weight: 500;
    position: relative;
    bottom: 12px;
  }

  .project:hover{
     box-shadow: 0px 0px 15px 0.1px var(--page3-green);
     transition: var(--transition);
     filter: none;
  }
  .project:active .project_links,.project:hover .project_links{
    height: 100%;
    transition: var(--transition);
    overflow: auto;
  }
  .project img{
    max-width: 100%;
    height: auto;
    align-self: flex-end;
  }


  .project_links{
    position: absolute;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: #92aa8d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 90%;
  }
  .project_links a{
    font-size: 1rem;
    color: #181c1d;
    z-index: 2;
  }
  .project_links a:hover, .project_links a:active {
    color: #fff;
  }
  .project_type{
    position: absolute;
    top: 0;
    right: 0;
  }







/* -------------------------------------------- page4 Contact --------------------------------------------*/

.page4{
  background: black;
  display: inline-grid;
}
.page4 h1{
  color: var(--background-light);
  justify-self: flex-start;
  padding-left: min(8vw, 200px);
}

.palette-icon{
  position: relative;
  right: min(200px,8vw);
  align-self: flex-end;
  justify-self: flex-end;
  width: auto;
  height: min(130px, 15vw);
}

.gray-line {
  width: 55vw;
  height:140px;
  background-color:var(--background-light);
  position:relative;
}








/* FORM email btn and white block */

.white-block{
  width: min(200px, 30vw);
  height:260px;
  background-color:#fff;
  transition: var(--transition);
  cursor: pointer;
}
.white-block form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}
.white-block form input{
  height: 20px;
  width: 80%;
  background-color: rgba(30, 35, 36,0.2);
  padding-left: 10px;
}
.white-block form textarea{
  height: 70px;
  width: 80%;
  background-color: rgba(30, 35, 36,0.2);
  padding: 5px;
}
.white-block form label{
  font-size: 1rem;
  margin-top: 1rem;
}

.form-submit_btn{
  font-size: 1rem;
  width: 80px;
  margin-top: 5px;
  border: 1px solid #181c1d;
}
.close-form_btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.white-block_form{
    position: absolute;
    width: 80vw;
}

.block-space{
  position: relative;
  width: min(200px, 30vw);
  height:260px;
  padding-left: min(200px,8vw);
  background-color:transparent;
  transition: var(--transition);
}





/* ------------ Footer ------------ */

footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  font-size: 1.2rem;
  position: relative;
  max-height: 260px;
  width: 100%;
}
footer p {
  font-size: 0.9rem;
  color: var(--background-light);
}


.footer-table{
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-right: min(200px, 8vw);
}
.table-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.table-row:nth-child(-n+3){
  margin-bottom: 20px;
}

.table-row img {
  margin: 0 20px;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.table-row img:hover,
.close-form_btn:hover,
.close-form_btn:active {
  transform: scale(150%);
}



@media screen and (min-width: 800px){

  .page4 h1 {
    justify-self: flex-end;
    padding-right: calc(8vw + 175px);
  }


  .table-row{
    width: min(40vw, 385px);
  }
  .table-row img{
    width: 35px;
    height: 35px;
    margin: 0;
  }
  .table-row:nth-child(-n+3) {
    margin-bottom: min(15px,1.5vh);
  }


  footer p{
  font-size: 1.2rem;
  }
  .footer-table{
      margin-right: calc(8vw + 175px);
      padding: none;
  }


  .white-block{
      width: min(370px, 20vw);
  }
  .white-block_form {
    width: min(80vw, 700px);
  }

}
@media screen and (max-width: 500px) {
.block-space {
  padding-left: 0;
}
.white-block_form{
      margin-left: 8vw;
}
  

}



/* -------------------------------------------- navbar --------------------------------------------*/


.nav-center{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 60px;
}

.nav-toggle{
  font-size: 2rem;
  color: black;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover{
  opacity: 0.5;
  transition: var(--transition);

}


.nav-header{
  background-color : rgba(233, 236, 238, 0.7);
  width: 100%;
  height: 60px;
  padding: 0 min(200px,8vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.links{
  display: flex;
  flex-direction: column;
  width: 25%;
  left: 0;
  height: 320px;
  position: absolute;
  z-index: -1; /*detras de nav principal*/
  top: -350px; /*lo esconde fuera del limite de la pag*/
  background-color:rgba(233, 236, 238, 0.4);
  padding-top: 60px;
  transition: var(--transition); 
}

.links *{
  color: var(--background-dark);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: normal;
  padding-top: 25px;
  padding-left: 10px;
}

.links a:hover {
    font-weight: 400;
  }


.nav-block{
  /* background-color:rgba(233, 236, 238, 0.2); */
  position: absolute;
  z-index: -2;
  background : rgba(67, 68, 68, 0.7);
  top: -350px;
  right: 0;
  width: 76%; /*comparte el 100% con la caja con links*/
  height: 300px;
  transition: all 0.4s linear;
}

.show-links *{
  top: 0;
}


@media screen and (min-width: 800px) {


  .nav-center {
    display: flex;
    padding: 0 min(200px,8vw);
    justify-content: space-between;
    background-color : rgba(233, 236, 238, 0.7);
  }

  .nav-header {
    padding: 0;
    background-color: transparent;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    background-color: transparent;
  }

  .nav-block{
    display: none;
  }

}



/* -------------------------------------------- pages buttons --------------------------------------------*/

.four-buttons{
  position: absolute;
  right: 50px;
  top: 20px;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.page-btn{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 6px 0;
  background-color: #181c1d;
}

.page-btn:hover{
  transition: var(--transition);
  background-color: #fff;
} 
@media screen and (max-width: 500px) {

.four-buttons {
  right: 25px;
  top: 10px;
}
.page-btn {
  width: 15px;
  height: 15px;
  margin: 6px 0;

}

}
