@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{

  /*colors*/
  --background-dark: #1E2324;
  --background-light: #E8EAEC;
  --page1-red:#E5907E;
  --page2-yellow: #;
  --page2-light_yellow: rgb(221, 215, 185);
  --page2-yellow: #E7CA3C;
  --page3-darker-green: rgb(144, 168, 138);
  --page3-green: #BAD8B4;
  --page3-darkest-green: #86a581;

  --transition: all 0.3s linear;
  --ff-primary: 'Roboto', sans-serif;
}


html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}



body {
  margin: 0;
  font-family : var(--ff-primary);
  overflow-x: hidden; /*para evitar expandir la pagina en ancho, al tener
  elementos escondidos en el overflow*/
  min-width:350px; /*para lupa de aumento manual*/
}

  .block:hover,
  .block:active {
    transition: all 0.4s linear;
    transition-delay: 0.5s;
    border: 1px solid #fff;
    background: transparent;
  }



  /* -------------- TEXT AND CONTAINERS (Pass to another file) ----------*/



.title{
  /* font-size: 5rem; */
  font-size: min(12vw,5rem);
  font-weight: 400;
  color: var(--page1-red);
  padding: 1.2rem 0 ;
  font-weight: 500;
}
.screen{ /*cada seccion va a ocupar toda la pagina, hasta llegar a 600px, para evitar deformaciones.*/
  width: 100vw;
  margin-inline: auto;
  height: max(100vh, 600px);
  position: relative;
}



.page1,
.page3,
.page5{
  background-color: var(--background-dark);
}
.page2 ,
.page4{
  background-color : var(--background-light);
}


@keyframes blockError {

  0%{
  }
  50%{
    background: transparent;
    border: 1px solid #fff;
  }
  100%{
    background: transparent;
    border: 1px solid #fff;
  }

}

/* -------------------------------------------- page1 --------------------------------------------*/
.page1{
  background-image: url("./images/page1_background.svg"),
  linear-gradient(
    to right,
    black 0%,
    black 60%,
    #1E2324 60%,
    #1E2324 100%)
  ;
  display: grid;
  background-size: cover;
  background-position: center bottom;
}
.blocks-container{
  position: relative;
  align-self: flex-end;
}

  
 .redblock1{
  /*Bloques absolute para evitar que corran los elementos reales.
  Y para poder ubicarlos, se usa un container padre relative*/
  background: linear-gradient(270deg, rgba(150, 116, 109, 1) 0%, rgba(187, 125, 127, 1) 44%);
  background-color: rgba(187, 125, 127, 1);
  width: 174px;
  height: 600px;
  position: absolute;
  left: 90vw;
  bottom: 0;
}
 .redblock2{
  position: absolute;
  background-color: #AA7D7D;
  width: 174px;
  height: min(264px,45vw);
  bottom: -82px;
  left: 5vw;
  /* animation: blockAnim 4s; */
} 

/* .redblock1:hover, .redblock2:hover {
  
  transition: all 0.5s linear;
  border: 1px solid #E5907E;
  background: none;
} */




.salute{
  color: var(--background-light);
  justify-self: center;
  margin-top: 150px;
}
.salute p {
  font-size: 1.1rem;
  max-width: min(400px,80vw);
  font-weight: 100;
}




.link_to_projects{
  justify-self: flex-start;
  align-self: flex-end;
  bottom: 100px;
  left: max(30vw,100px);
  border-top: 1px solid var(--page1-red);
  border-right: 1px solid var(--page1-red);
  height: 35px;
  width: min(230px,38vw);
  position: relative;
  z-index: 2;
}
.border-left{
  border-left: 1px solid var(--page1-red);
  position: absolute;
  top: 0;
  bottom: 60%;
}
.border-bottom{
  border-bottom: 1px solid var(--page1-red);
  position: absolute;
  right: 0;
  left: 95%;
  bottom: 0;
}
.link_to_projects h3{
  font-size: min(1.2rem,3.3vw);
  color: var(--page1-red);
  font-weight: 400;
  position: relative;
  left: -10px; /*para dar efecto de borde desfazado*/
  bottom: -20px;
  text-transform: capitalize;
}
.link_to_projects:hover, .link_to_projects:active{
  transform: scale(110%);
  transition: all 0.2s linear;
}


@media screen and (min-width: 800px){
  .redblock1{
    right: 5vw;
    left: auto;
    
  }
  .salute{
    margin-left: min(200px,12vw);
    justify-self: flex-start;
  }
}




/* -------------------------------------------- page2 --------------------------------------------*/
/*Animacion: https://freefrontend.com/css-text-animations/ */
.page2{
  display: grid;
  justify-content: center;
  background-image: url("./images/page2_background.svg")
  ,
  linear-gradient(
    to right,
    #E8EAEC 0%,
    #E8EAEC 60%,
    black 60%,
    black 100%)
  ;
  background-size: cover;
  background-position: center center;
}

.yellow_block1 {
  position:absolute;
  align-self: flex-end;
  width: 100vw;
  min-width: 100%;
  height: 230px;
  background: linear-gradient(180deg, rgba(221, 215, 185, 1) 40%, rgba(168, 162, 131, 1) 100%);
  background-color: var(--page2-light_yellow);
}



.page2 h1{
  font-size: min(10vw,5rem);
  justify-self: center;
  margin-left: 10vw;
  color: black;
  padding-bottom: 60px;
}
.page2 span{
  color: var(--page2-yellow);
}


.info-container{
  z-index: 1;
  display: grid;
  position: relative; /*relative para poder ubicar los elementos absolute*/
}

.about-text{
  font-weight: 300;
  font-size: min(1.2rem,4.6vw);
  text-align: center;
  line-height: 1.5;
  width: 90vw;
  height: 180px; /*definir el height evita que otros elementos se muevan al variar el texto*/
  grid-row-start: 2;
  align-self: flex-end;
  justify-self: center;
  position: absolute;
  padding-bottom: 8vw;
}



.img-container{
  margin-left: 8vw;
  justify-self: center;
  align-self: flex-start;
  border: 1px solid var(--page2-yellow);
  height: min(250px,55vw); /*evitar movimientos elementos*/
  position: relative;
  bottom: 130px;
}


.about-animated{
    animation: about-animation 1s;
}
.about-animated2 {
  animation: about-animation2 1s;
}

@keyframes about-animation {
  0%{
      transform: translateY(10px);
      opacity: 100%;
  }

  25%{
    transform: translateY(-200px);
    opacity: 0%;
  }
  50%{
      transform: translateY(200px);
      opacity: 0%;
  }

  100%{
    transform: translateY(0px);
    opacity: 100%;
  }
}
@keyframes about-animation2 {
  0% {
    transform: translateY(10px);
    opacity: 100%;
  }
  
  25% {
    transform: translateY(-200px);
    opacity: 0%;
  }
  
  50% {
    transform: translateY(200px);
    opacity: 0%;
  }
  
  100% {
    transform: translateY(0px);
    opacity: 100%;
  }
}



.info-container img{
  width: min(200px,40vw);
  height: auto;  
  z-index: 10;
  position: relative;
  left: -30px; /*para dar efecto de borde desfazado*/
  bottom: -30px;
}



@media screen and (min-width: 830px){
  .info-container{
    grid-template-columns: 1fr 1fr;
  }
  .info-container p{
    width: 500px;
    grid-row-start:auto;
  }

  .page2 h1{
    margin-left: 10vw;
  }

  .yellow_block1{
    width: 180px;
    margin-bottom: 50px;
  }

  .about-text{
    position: relative;
    left: min(15px,2.5vw); /*limitar tamaño en base a flechas*/
    max-width: 45vw;
    align-self: flex-start;
  }

}

/* btn container*/

.btn-container{
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  z-index: 12;
}
.btn-container button{
  margin: 0 min(250px,28vw);
  color:var(--page2-yellow);
  font-size: 4rem;
  position: relative;
}
.btn-container button:hover{
  color: var(--background-dark);
  transition: var(--transition);
}


@media screen and (min-width: 830px){
  .btn-container{
    right: min(240px,20vw); /*limitado en base a about-text*/
  }
  .btn-container button{
    margin: 0 min(260px,24vw);
  }
}


/* -------------------------------------------- page3 --------------------------------------------*/

  .page3{
    display: inline-grid;
    justify-content: center;

    background: 
    linear-gradient(
      to right,
      black 0%,
      black 60%,
      #1E2324 60%,
      #1E2324 100%);
    
  }
  .page3 h1{
    color: var(--page3-green);
    align-self: flex-start;
    justify-self: center;
    z-index: 1;
    padding-right: 20vw;
  }

  .green-block{
    align-self: flex-start;
    position:absolute;
    background: linear-gradient(180deg, rgba(144, 168, 138, 1) 40%, rgba(118, 136, 113, 1) 100%);
    background-color: var(--page3-darker-green);
    width: 250px;
    height: 180px;
  }
  .green-line{
    align-self: flex-end;
    justify-self: flex-end;
    width: 45vw;
    height:140px;
    background: linear-gradient(180deg, rgba(144, 168, 138, 1) 40%, rgba(118, 136, 113, 1) 100%);
    background-color: var(--page3-darker-green); 
    position: absolute;
  }




  .projectsContainer{
    position: relative;
    align-self: center;
    justify-self: center;
    width: min(800px,80vw);
    height: 250px;
    overflow-x: hidden;
    cursor: grab;
  }








  .projects{
    position: absolute;
    top: 0;
    left: 0;
    justify-self: center;
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-column-gap: 15px;

  }
  .project{
    font-size: 0.8em;
    text-transform: capitalize;
    background-color: var(--page3-darker-green);
    color: black;
    /* border:1px solid var(--page3-green); */
    cursor: pointer;
    overflow: hidden;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 240px;
    height: 200px;
  }
  .project h3{
    font-weight: 500;
    position: relative;
    bottom: 12px;
  }

  .project:hover{
     box-shadow: 0px 0px 15px 0.1px var(--page3-green);
     transition: var(--transition);
     filter: none;
  }
  .project:active .project_links,.project:hover .project_links{
    height: 100%;
    transition: var(--transition);
    overflow: auto;
  }
  .project img{
    max-width: 100%;
    height: auto;
    align-self: flex-end;
  }


  .project_links{
    position: absolute;
    width: 100%;
    height: 0%;
    overflow: hidden;
    background-color: #92aa8d;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 90%;
  }
  .project_links a{
    font-size: 1rem;
    color: #181c1d;
    z-index: 2;
  }
  .project_links a:hover, .project_links a:active {
    color: #fff;
  }
  .project_type{
    position: absolute;
    top: 0;
    right: 0;
  }







/* -------------------------------------------- page4 Contact --------------------------------------------*/

.page4{
  background: black;
  display: inline-grid;
}
.page4 h1{
  color: var(--background-light);
  padding-left: 140px;
}

.palette-icon{
  position: relative;
  right: min(5rem,10vw);
  align-self: flex-end;
  justify-self: flex-end;
  width: auto;
  height: min(130px, 15vw);
}

.gray-line {
  align-self: flex-start;
  width: 55vw;
  height:140px;
  background-color:var(--background-light);
  position:relative;
}
.white-block{
  width: min(200px, 30vw);
  height:260px;
  background-color:#fff;
  transition: var(--transition);
}
.white-block form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  position: relative;
  z-index: 10;
}
.white-block form input{
  height: 20px;
  width: 80%;
  background-color: rgba(30, 35, 36,0.2);
  padding-left: 10px;
}
.white-block form label{
  font-size: 1rem;
  margin-top: 1rem;
}

.form-submit_btn{
  font-size: 1rem;
  width: 80px;
  margin-top: 5px;
  border: 1px solid #181c1d;
}
.close-form_btn{
  position: absolute;
  top: 1rem;
  right: 1rem;
}


.white-block_form{
    position: absolute;
    margin: 0 10vw;
    width: min(75vw,700px);
}

.block-space{
  position: relative;
  width: min(200px, 30vw);
  height:260px;
  background-color:transparent;
  transition: var(--transition);
}
/* ------------ Footer ------------ */

footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 1.2rem;
  position: relative;
}
footer p {
  font-size: 0.9rem;
  color: var(--background-light);
}


.footer-table{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 340px;
  height: auto;
}
.table-row{
  display: flex;
  align-items: center;
  margin: 4px 0;

}
.table-row img {
  margin: 0 20px;
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.table-row img:hover,
.table-row img:active,
.close-form_btn:hover,
.close-form_btn:active {
  transform: scale(150%);
}



@media screen and (min-width: 800px){

  .table-row img{
    width: 35px;
    height: 35px;
  }
  footer p{
  font-size: 1.2rem;
}

}
/* .border-line{
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 95vw;
  height: max(65vh,400px);
  border: 1px solid #fff;
} */



/* -------------------------------------------- navbar --------------------------------------------*/


.nav-center{
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 60px;
}

.nav-toggle{
  font-size: 2rem;
  color: black;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover{
  opacity: 0.5;
  transition: var(--transition);

}


.nav-header{
  background-color : rgba(233, 236, 238, 0.7);
  width: 100%;
  height: 60px;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.links{
  display: flex;
  flex-direction: column;
  width: 25%;
  left: 0;
  height: 320px;
  position: absolute;
  z-index: -1; /*detras de nav principal*/
  top: -350px; /*lo esconde fuera del limite de la pag*/
  background-color:rgba(233, 236, 238, 0.4);
  padding-top: 60px;
  transition: var(--transition); 
}

.links *{
  color: var(--background-dark);
  font-weight: 600;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: normal;
  padding-top: 25px;
  padding-left: 10px;
}

.links a:hover {
    font-weight: 400;
  }


.nav-block{
  /* background-color:rgba(233, 236, 238, 0.2); */
  position: absolute;
  z-index: -2;
  background : rgba(67, 68, 68, 0.7);
  top: -350px;
  right: 0;
  width: 76%; /*comparte el 100% con la caja con links*/
  height: 300px;
  transition: all 0.4s linear;
}

.show-links *{
  top: 0;
}


@media screen and (min-width: 800px) {


  .nav-center {
    display: flex;
    padding: 0 5vw;
    justify-content: space-between;
    background-color : rgba(233, 236, 238, 0.7);
  }

  .nav-header {
    padding: 0;
    background-color: transparent;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    background-color: transparent;
  }

  .nav-block{
    display: none;
  }

}



/* -------------------------------------------- pages buttons --------------------------------------------*/

.four-buttons{
  position: absolute;
  right: 6vw;
  top: 15vh;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.page-btn{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 6px 0;
  background-color: #181c1d;
}

.page-btn:hover{
  transition: var(--transition);
  background-color: #fff;
} 
@media screen and (min-width: 800px) {

.four-buttons {
  right: 50px;
  top: 45vh;
}
  
}


